<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="L1OMtV69CCB01f1zmNU3QpiVqUM24G78dQsRUCOmmwi8XY9O/jV+wQWml9uJwloVUUFVoXOzZKCTxJ6N/zZeOg==">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
